Makefile
Makefile.in
stamp-h1
*.log
*.trs

/aclocal.m4
/autom4te.cache
/balabit-unix-build
/balabit-vs-build
/config.guess
/config.sub
/config.status
/config.log
/compile
/configure
/depcomp
/install-sh
/libtool
/ltmain.sh
/missing
/mkinstalldirs
/test-driver
/src/zorp/zorplibconfig.h.in
/zorpconfig.h.in
/.project
/.cproject
/.pydevproject
/.settings

/dist.conf
/*.pc
archived-changelogs
debian/*.in
debian/source.lintian-overrides
scripts/failure_notify6*
src/libzorpll.rc
src/zorp/zorplibconfig.h
src/zorp/zorplibconfig.h-win32

*.sw?
\#*
*~
semantic.cache
*.orig
*.rej
*.o
*.lo
*.la
.deps/
.libs/
/libzorpll-*.tar.gz
/m4
/INSTALL
/tgz2build
/winbuild
/balabit-*
