Makefile.in
.project
.cproject
.pydevproject
.settings
*.sw?
\#*
*~
*.rej
*.orig
aclocal.m4
autom4te.cache/
config.guess
config.sub
configure
configure.in
debian/Makefile.in
depcomp
install-sh
ltmain.sh
missing
mkinstalldirs
INSTALL
semantic.cache
scripts/Makefile.in
src/Makefile.in
src/zorp/Makefile.in
src/zorp/zorplibconfig.h.in
