language: cpp
sudo: required
dist: trusty

compiler:
  - gcc

branches:
  only:
    - /^6\.0\.[0-9]*\.0$/

before_install:
  - source ci/obs_common.sh
  - source ci/obs_before_install.sh

before_script:
  - sudo add-apt-repository -y ppa:dns/gnu
  - sudo add-apt-repository -y ppa:h-rayflood/llvm
  - sudo apt-get update -qq
  - sudo apt-get install --yes devscripts equivs
  - sudo mk-build-deps -i -r -t " apt-get --no-install-recommends --yes"

script:
  - autoreconf -if
  - ./configure --prefix=$HOME
  - make
  - make check
  - source ci/obs_common.sh
  - source ci/obs_prepare.sh

after_success:
  - source ci/obs_common.sh
  - source ci/obs_commit.sh

env:
  global:
    - secure: "SG9y2Mj3dHVMtdTYdEXzQk7A+sLyZO9Vp5ZzTglHIydmRG2aHRhOwj1H7Gnk75okTmJdb4uJsQps9b6MUuqzOmVHIydMVyZ0Lj+FccUI4RDT+DIcovbsGK+I1pl69p5z+GMVKRmDH2ok4uauqTDRdNhsBh+IwqT1KkZItQhjq33NiS4dcWJ+8vllhF0+B35ltu5SbKbsqt89uIecI0H7DFhcLKh+tTwweuNmRrQ1biA6HhiZWGYKttOkW1EFWbBOzarg9ngXx665IBY78QoyYJq8ZG6Lr2eafs7VeoW92pF4HCDdGugofXpnSkPW4eN0rB67IkaoEbXoSRtF9OrqKVYZxFoUkLnhgS31ocEfgM7/MKWdkrEDilaAW4xDqgciT9S/JzOy4+6CbpZWtewuz2KBlruXz8ywUIq5y0MVxGYyhOAApUJ1IKKrZAeLILSlSfkcm9iZYJfDVKkm+FFRx5QTpTZiK0M1exCc0uvgpHBdO6gJIzpZuDgzTuclTkGKlI3ZHfRRVtN1MuasvPTIFTez7ofkRg0RgPOPkJ3+/omh6FAlevdsdn4Jo0rU5/soHbA3cysWG1u7hgrECSHpZINSfWZ9m5+sP/guX+kPxNQEwAmr4D1B0ARaypYdrPRHv1VAEGLJdqFxAAA4STarIvInLSxPXl1akf1xwduS9cE="
    - OBS_HOME=security
    - OBS_PROJECT=Zorp
    - OBS_MAJOR_VERSION=6
    - OBS_MINOR_VERSION=0
    - OBS_MAINTENANCE_VERSION=11
    - OBS_PACKAGE=libzorpll
    - secure: "UAR0qAxub3CA4FGQPoNxQoy9q5vAwBxzZH/KOxmXLMXHTIkWrWq1OjPWE6SbC4H7dIQYvpUWgvIQtSIFE0px4Mj4ZUzI32mgwSqG2kHvSh+5kfwpJquvGBsZhogrJ46OqSSvUixNfktIUajdvSwqXz1sJ0sFQLMx/tHS3doFD3sEzixq+UBKrDcUTXM9K4u7TM1f7vR9A5VnsBXhxzxO3eWRlXEdnjMzF3JZezMSOPmg1nIWexnaexf2ScS600WnbyGCrCkYX2nTA6i9E1pQmiZGgmag2UW7pC79BsFASVLivswAgp330JMe8quSOXHQZLmisE0o98R+tPGa734YoEzjET2N2PMz74b3QqRPSDDF534ElHs4jZifBOEtGVWmrOX5xOLBvJDBgZy+k3pL+iIWM1eavsuCaX/Rhaf525vxI1oIJ1gZ/iFAyAkEjDlo+dvfVrG1Icmcs1oUfY9BWq7aMj/k/90pJD4T6RfcLQeiJQtSY3GvBrbs8aw50ptc3xh0K6WXKw3WyAbrBwPhByBP9/oDi77oigaNm1UjNPKjucUpzl7zFEVFqwWjC2lZXKBt1/MWKfuCRJbHRrleF/VPj15wn4B1IndpGYOz/2jEh+PuP62irNyCrafg+2mWCtcw4uYpPVEVF2IjSP4Wuq6A1t/eF/pFoz+tLXy50uo="

addons:
  coverity_scan:
    project:
      name: "Balasys/libzorpll"
      version: 6.0.11
      description: "Build submitted via Travis CI"
    notification_email: coroner@pfeifferszilard.hu
    build_command_prepend: "autoreconf -if; ./configure"
    build_command:   "make -j4"
    branch_pattern: 6.0.11.0
