#!/usr/bin/make -f

%:
	dh $@ --with autoreconf --parallel

override_dh_strip:
	dh_strip -plibzorpll6.0-11 --dbg-package=libzorpll6.0-11-dbg
	dh_strip -plibzorpll6.0-11-memtrace --dbg-package=libzorpll6.0-11-memtrace
